li{
list-style:none;
}

.filtr-container{
width:85%;
margin-right:auto;
margin-left:auto;
}

li{
float:left;
}

img{
margin:20px;
}



body{
text-align:center;
}

input{
margin-top:10px;
width:30%;
padding:10px;
border-radius:5px;
}

p{
display:none;
}